menu "wiota PS"

config _FPGA_
    bool "default open(_FPGA_)"
    default y

config _RT_THREAD_
    bool "RT_Thread default open(_RT_THREAD_)"
    default y

config _FPGA_TRACE_TEST_
    bool "default open(_FPGA_TRACE_TEST_)"
    default y

config UC8088_FACTORY_TEST
    bool "factory mode, recv and send test, default open(UC8088_FACTORY_TEST)"
    default y

config WIOTA_AP_STATE_INFO
    bool "query ap state info, default open(WIOTA_AP_STATE_INFO)"
    default n

endmenu
